
@media only screen and (min-width: 640px){
    .aboutContainer{
        margin-left: 20vw;
        margin-right: 20vw;
    }
    
    .aboutIntroText{
        /*font-family: 'Roboto', sans-serif;*/
        font-family: Roboto,Arial,Noto Sans,sans-serif;
        font-weight: 600;
        line-height: 0.9;
        font-size: 3.5vw;    
        margin-top: 9vh;
        margin-bottom: 10vh;
        color: #343a40;
    }
    
    .basicText{
        text-align: left;
        font-size: 1.5vw;
        color: #495057;
        line-height: 1.6;
    }
    
}

@media only screen and (max-width: 639px){
    .aboutContainer{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    .aboutIntroText{
        /*font-family: 'Roboto', sans-serif;*/
        font-family: Roboto,Arial,Noto Sans,sans-serif;
        font-weight: 600;
        line-height: 0.9;
        font-size: 8vw;    
        margin-top: 5vh;
        margin-bottom: 6vh;
        color: #343a40;
    }
    
    .basicText{
        text-align: left;
        font-size: 4vw;
        color: #495057;
        line-height: 1.6;
    }
    
}